<div class="modal fade" id="${modalId}" tabindex="-1" aria-labelledby="${modalId}-label" aria-hidden="true">
    <div class="modal-dialog modal-${size} modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center gap-2" id="${modalId}-label">
                    <i data-lucide="${icon}"></i>${title}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body p-0 custom-modal-content">
                <div class="custom-modal-container">
                    <div class="custom-modal-card">
                        <div class="custom-modal-card-header">
                            <div class="custom-modal-card-header-icon">
                                <i data-lucide="notebook-tabs"></i>
                            </div>
                            <span>Información del Registro</span>
                        </div>
                        <div class="custom-modal-card-body">
                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>